<div>
  <h1>Student Dashboard</h1>
  <label>Name:</label> <br/>
  <input type="text" [(ngModel)]="name" placeholder="Enter your name" /><br/>
  <label>Grade:</label><br/>
  <input type="text" [(ngModel)]="grade" placeholder="Enter your grade" /><br/><br/>
  <button (click)="addProfile()">Add Profile</button><br/>
</div>
<div *ngIf="students.length===0">
  <p>No students found</p>
</div>
<div *ngIf="students.length>0">
  <li *ngFor="let student of students">
    {{student.name}} - {{student.grade}}
      <span *ngIf="student.grade === 'A' || 'a' ">🟢 Excellent</span>
      <span *ngIf="student.grade === 'B' || 'b' ">🟡 Good</span>
      <span *ngIf="student.grade === 'C' || 'c' ">🔴 Needs Improvement</span>
  </li>
</div>